<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HelperSharp" version="0.0.4.1" targetFramework="net40" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.8.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Logging" version="6.8.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.8.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="RestSharp" version="105.0.1" targetFramework="net45" />
</packages>